.no-vmargin {
    margin-top: 0;
    margin-bottom: 0;
}

.no-hmargin {
    margin-left: 0;
    margin-right: 0;
}

.app-budgetPanel {
    box-sizing: content-box;
    padding-top: 0.5em !important; 
    padding-bottom: 0.5em !important;
}